# basics
numpy
pandas
scipy
scikit-learn

# plotting
matplotlib
plotly
seaborn

# jupyter
jupyterlab
ipywidgets
jupyterlab-widgets
notebook
nbconvert
pandoc
kaleido

# ML frameworks
keras
torch
torchvision
torchaudio
tensorboard
transformers
accelerate
bitsandbytes